<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>A little bit about myself</h1>
      <h4 class="subheader">There's lots to learn</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>My name is Tzirath Perez, I'm a Mexican who has lived pretty much everywhere. I grew up in Germany, and spent my teenage years in USA. I moved to Ireland from San Diego, to study Software Engineering at Maynooth University. </p>
      <p> As part of my third year program, I am  working at Intel as a Software Engineer. I am in charge of specification, testing, and writing my own code to make our project more efficent.</p>
    </div>
  </main>
</body>
</html>
