<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Personal Projects</h1>
      <h4 class="subheader">Here's a bit of what I've worked on</h4>
    </div>
    <div class="container">
      <div class="code-container">
        <img src="/images/facebook.png"/>
        <div>
          <h3>GoldTracker</h3>
          <p>This app was designed to keep track of small loans between frteinds. Simply enter the amount you owe a friend, a little description and you'll never forget to pay your friends back!"</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/spotify.png"/>
      <div>
        <h3>BusyBot</h3>
        <p>Ask the bot when the next fpga is free!</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/CommitteeTracker"/>
      <div>
        <h3>CommitteeTracker</h3>
        <p>Designed an android app for Univeristy Clubs and Societies. They can track attendance and budget.</p>
      </div>
    </div>
  </main>
</body>
</html>
